@using System.Collections.ObjectModel;
@using BlazorApp1.Authentication
@using BlazorApp1.Data
@using System.Timers;
@using Microsoft.Exchange.WebServices.Data;
@using BlazorApp1.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@inject Emails Emailing
@inject AuthenticationStateProvider authStateProvider;
@inject AuthenticationStateProvider context;

@page "/inprogress"


<style>

	body{
		background-color: #92c5ef;
	}
</style>
<h3>InProgress</h3>


   		<div style="height: 300px;
    overflow: hidden; overflow-y: scroll; width:55vw; ">
<table tickettable>
	 <tr ticketobject>
    <th>Subject</th>
    <th>From</th>
    <th>Time</th>
	    <th>Handler</th>
			    <th></th>
  </tr>
  

@foreach (Datamodel message in historyListTickets)
{
		<tr subjects>
		<th>
			@message.subject
		</th>
			<th>
			@message.sender
		</th>
				<th>
			@message.datetimereceived
		</th>
		
				<th>
			@message.handler
		</th>
		<th style="    padding-left: 10px;">
			<button class="btn btn-primary" @onclick="() => CheckData(message.message_id.ToString())">Check Info</button>
					<button class="btn btn-primary" @onclick="() => SolveTicket(message)">Mark</button>

		</th>


		</tr>


			@if (emailChain != null && message.message_id.ToString().Equals(emailId) && ShowPopUp)
			{
				dialogOpen = true;
				<div class="modal" tabindex="-1" dialogbox role="dialog" style="margin-top:50px;">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">

							<button type="button" class="btn btn-outline-primary rounded-circle" style="width: 55px; height: 55px; margin-left:10px; margin-top:10px;;" @onclick="()=> ClosePopup()"> <i class="fa fa-times fa-2x" aria-hidden="true" style="align-content:center;display: flex; justify-content: center;"></i></button>

							<Popupmodal message="message" emailChain="emailChain" />

						</div>
					</div>
				</div>


			}
		}

</table>
</div>
@if (ShowPopUp == false && showMarkStatus == true)
{<div>

	<div style="text-align:center; width:75%; height:300px; background-color:white;">
		<button type="button" class="btn btn-outline-primary rounded-circle" style="width: 55px; height: 55px; float:left;" @onclick="()=> {showMarkStatus = false; StateHasChanged();}"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
		<button type="button" class="btn btn-outline-primary " style="width: 125px; height: 55px; margin-left:10px; margin-top:10px; float:left;" @onclick="()=> {openStatusBox = true; StateHasChanged();}"> Open Status</button>
		<button type="button" class="btn btn-outline-primary" style="width: 125px; height: 55px; margin-left:10px; margin-top:10px; float:left;" @onclick="()=> {openCommentBox = true; StateHasChanged();}"> Open Comments</button>
			

			@if(messageid != null && Comments.Count() != 0)
			{
				<p>Loopataan</p>
				@foreach(Comments comma in Comments)
				{
					<p>@comma.message</p>
				}
			}
			<div style="width:35%; float:right">
		
			@if (openCommentBox && openStatusBox == false)
			{
				<button type="button" class="btn btn-outline-primary rounded-circle" style="width: 55px; height: 55px; margin-left:10px; margin-top:10px; float:left;" @onclick="()=> {openCommentBox = false; StateHasChanged();}"> <i class="fa fa-times fa-2x" aria-hidden="true" style="align-content:center;display: flex; justify-content: center;"></i></button>

				<CommentWindow messageid="@messageid"/>
			}
			@if (openStatusBox && openCommentBox == false)
			{
				<button type="button" class="btn btn-outline-primary rounded-circle" style="width: 55px; height: 55px; margin-left:10px; margin-top:10px; float:left;" @onclick="()=> {openStatusBox = false; StateHasChanged();}"> <i class="fa fa-times fa-2x" aria-hidden="true" style="align-content:center;display: flex; justify-content: center;"></i></button>
				<SetStatusWindow messageid="@messageid"/>
			}
			
		</div>
	
	</div>
	</div>
}

@code {

	/*<p style="text-align:center;">Set ticket status</p>
	 * 
			<BSInput InputType="InputType.Select" @bind-Value="_value">
				<option value="null">Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</BSInput>

			<p style="text-align:center;">Write information about status</p>
			<input @bind="solvebox" style="height:125px; width:325px;" />

			<button type="button" class="btn btn-outline-primary" style=" margin-left:10px; margin-top:10px;;" @onclick="()=> SendMessage()">Set Status</button>*/
	[CascadingParameter] private Task<AuthenticationState> provider { get; set; } = default!;
	private ClaimsPrincipal? user;
	private List<Datamodel> historyListTickets;
	private string messageid { get; set; }
	
	private string solvebox { get; set; }
	private string ticketName { get; set; }
	private bool dialogOpen = false;
	private bool showMarkStatus = false;
	private bool openCommentBox = false;
	private bool openStatusBox = false;
	private string emailId;
	bool ShowPopUp = false;
	private List<Comments> Comments;

	ConversationResponse emailChain;
	private async System.Threading.Tasks.Task CheckData(string id)
	{
		// Getting conversation of email to list.
		emailChain = await Emailing.GetConversion(id);
		// Assigning id, which is compared later in dialog.
		emailId = id;
		// This opens dialog when true.
		ShowPopUp = true;

	}


	//user.Identity.Name.ToString(),
	protected override async System.Threading.Tasks.Task OnInitializedAsync(){
		var state = await provider;
		// This is the current logged in user
		user = state.User;
		historyListTickets = await Emailing.GetMessagesDBInProgressUserAsync(user.Identity.Name.ToString());


	}


	private async System.Threading.Tasks.Task SolveTicket(Datamodel message)
	{
		showMarkStatus = true;
		ticketName = message.subject;
		messageid = message.message_id;
		Comments = await Emailing.GetComments(messageid);

	}

	void SendMessage()
	{
		// Backend function to send message here
		showMarkStatus = false;
	}
	void ClosePopup()
    {
		// Changes value to false to shutdown dialog module
		ShowPopUp = false;

		// Changes website state without reload.
		StateHasChanged();

	}
	void CloseMarkWindow()
	{
		// Changes value to false to shutdown dialog module
		showMarkStatus = false;

		// Changes website state without reload.
		StateHasChanged();

	}
}
