@using System.Collections.ObjectModel;
@using BlazorApp1.Authentication
@using BlazorApp1.Data
@using System.Timers;
@using Microsoft.Exchange.WebServices.Data;
@using BlazorApp1.Models;
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;

@inject Emails Emailing
@inject AuthenticationStateProvider authStateProvider;
@inject AuthenticationStateProvider context;

@page "/inprogress"


<style>

	body{
		background-color: #92c5ef;
	}
</style>
<h3>InProgress</h3>


   		<div style="height: 300px;
    overflow: hidden; overflow-y: scroll; width:55vw; ">
<table tickettable>
	 <tr ticketobject>
    <th>Subject</th>
    <th>From</th>
    <th>Time</th>
	    <th>Handler</th>
			    <th></th>
  </tr>
  

@foreach (Datamodel message in historyListTickets)
{
		<tr subjects>
		<th>
			@message.subject
		</th>
			<th>
			@message.sender
		</th>
				<th>
			@message.datetimereceived
		</th>
		
				<th>
			@message.handler
		</th>
		<th style="    padding-left: 10px;">
			<button class="btn btn-primary" @onclick="() => CheckData(message.message_id.ToString())">Check Info</button>
		</th>


		</tr>


		@if (emailChain != null && message.message_id.ToString().Equals(emailId) && ShowPopUp)
		{
			<div class="modal" tabindex="-1" dialogbox role="dialog">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header" style="align-self:center;" >
						

							

							<h1>
								@message.subject
							</h1>
						
							
						</div>
						<div class="modal-body" id="listitems">
							
									
                            @foreach(ConversationNode node in emailChain.ConversationNodes){
							
								@foreach(Item item in node.Items)
								{
							
							var index =@item.TextBody.Text.ToString().IndexOf("_");
									<div id="divTest" style="border:1px solid black;">
										<tr>
											@if (index > 1)
											{
											@item.TextBody.Text.Remove(index).ToString();

											}
											else
											{
										@item.TextBody.Text.ToString();

												

											}
								

									</tr>

									<button type="button" class="close" @onclick="() => SendMail()">Forward</button>
									<button type="button" class="close" @onclick="() => ResponseMail()">Response</button>


						</div>


							
								}
							}
						
						</div>
											<button type="button" class="close" @onclick="()=> ClosePopup()"> Close</button>

					</div>
				</div>
			</div>
		

		}
		}
</table>
</div>

@code {
[CascadingParameter] private Task<AuthenticationState> provider { get; set; } = default!;
private ClaimsPrincipal? user;
private List<Datamodel> historyListTickets;
	private string emailId;
		bool ShowPopUp = false;

	ConversationResponse emailChain;
private async System.Threading.Tasks.Task CheckData(string id)
	{
		// Getting conversation of email to list.
		emailChain = await Emailing.GetConversion(id);
		// Assigning id, which is compared later in dialog.
		emailId = id;
		// This opens dialog when true.
		ShowPopUp = true;

	}


	//user.Identity.Name.ToString(),
	protected override async System.Threading.Tasks.Task OnInitializedAsync(){
			var state = await provider;
            // This is the current logged in user
            user = state.User;
			historyListTickets = await Emailing.GetMessagesDBInProgressUserAsync(user.Identity.Name.ToString());


	}

	
	void ResponseMail()
	{

	}
	void SendMail()
	{
		
	}
	void ClosePopup()
    {
		// Changes value to false to shutdown dialog module
		ShowPopUp = false;
		// Changes website state without reload.
		StateHasChanged();

	}
}
